html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-family: Open Sans, sans-serif;
  font-size: 78px;
  color: #ae2724;
}

h2 {
  font-family: Open Sans, sans-serif;
  font-size: 60px;
}

h3 {
  font-family: Open Sans, sans-serif;
  font-size: 40px;
}

h4 {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
}

h5 {
  font-family: Open Sans, sans-serif;
  font-size: 24px;
}

p {
  font-family: Open Sans, sans-serif;

}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar-nav {
    align-items: center;
}

.navbar .nav-link {
    -webkit-text-fill-color: #e9ecef;
    font-size: 1.25rem;
    padding: 8px 16px;
    margin: 0 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color:#ae2724;
    transition: all 0.2s ease;
}

.navbar .nav-link:hover{
    background-color: #e9ecef;
    border-color: #999;
    -webkit-text-fill-color: #ae2724;
}

.navbar-brand {
    margin-right: 1rem;
}

.btn{
    background-color: #ae2724;
    border-color: #ae2724;
    color: white;
}

.btn:hover {
    background-color: #e9ecef;
    border-color: #999;
    color: #ae2724;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ae2724;
}


.btn:active, .btn-primary:active {
    background-color: #e9ecef;
    border-color: #999;
    color: #ae2724;
    box-shadow: none;
}