@page
@model AdminPage
@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
<body>


<table>
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Middle Name</th>
  <th>Role</th>
  <th>Date Joined</th>
  </tr>
  <tr>
  <td>John</td>
  <td>Doe</td>
  <td>A</td>
  <td>Volunteer</td>
  <td>11/12/2013</td>
  </tr>
  <tr>
  <td>John</td>
  <td>Doe</td>
  <td>A</td>
  <td>Volunteer</td>
  <td>11/12/2013</td>
  </tr>
  <tr>
  <td>John</td>
  <td>Doe</td>
  <td>A</td>
  <td>Volunteer</td>
  <td>11/12/2013</td>
  </tr>
  <tr>
  <td>John</td>
  <td>Doe</td>
  <td>A</td>
  <td>Volunteer</td>
  <td>11/12/2013</td>
  </tr>
</table>

</body>
</html>