@page
@model AdminPage
@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
<style>
    .table-container {
  max-height: 300px; /* Define the height of the scrollable area */
  overflow-y: auto;  /* Enable vertical scrolling */
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;            /* Sticks the header to the top of the container */
  background-color: #f1f1f1; /* Required to prevent content from showing through */
  z-index: 1;        /* Keeps the header above scrolling data */
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 10px;
  border-bottom: 1px solid #919191; 
  border-right:  1px solid #919191; 
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

</style>
</head>
<body>

<div class="table-container">
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Role</th>
            <th>Date Joined</th>
        </tr>
    </thead>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>A</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>B</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>C</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>C</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>E</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>F</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>G</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>H</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>I</td>
        <td>Volunteer</td>
        <td>11/12/2013</td>
    </tr>
</table>
</div>

</body>
</html>