@page
@using RazorPagesMovie.Pages
@model CommunityLogInModel
@{
    ViewData["Title"] = "Community Log-In";
}

<head>
    <title>Community Log-In</title>
</head>


<body>

<div class="container-fluid pt-5 text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="col text-center p-3">
    <div class="mb-3">
        <input type="firstName" placeholder="First Name">
    </div>
    <div class="mb-3">
        <input type="lastName" placeholder="Last Name">
    </div>
    <div class="mb-3">
        <input type="id" placeholder="Food Pantry ID #">
    </div>
    <div class="mb-3">
        <input type="button" value="Log-In">
    </div>
    <a asp-page="Application">Aren't registered with us? Click here to apply</a>
</div>

</body>