@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>FUMC Food Pantry</h1>
</div>

<div>
    <h2>Who We Are</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie nulla sed orci semper luctus. Pellentesque varius, neque sed laoreet mollis, libero diam fermentum orci, quis consectetur odio mauris et odio. Cras et mauris interdum erat viverra maximus quis sed ante. Etiam gravida purus quis viverra ornare. Nunc vitae risus elit. Quisque sagittis vestibulum nibh in cursus. Vestibulum sit amet est lacinia eros scelerisque semper vitae quis augue.

Duis a ullamcorper urna. Integer pellentesque cursus turpis, laoreet blandit augue consectetur condimentum. Nulla pharetra eget erat ac sodales. Suspendisse tempor justo vitae orci posuere, vel venenatis ligula cursus. Vivamus mattis augue non lectus lobortis, sit amet mattis turpis feugiat. Etiam vel lacus at magna consectetur elementum. Cras arcu metus, fermentum nec orci sit amet, ultricies mattis arcu. Aenean sit amet magna turpis. Cras vel fermentum nunc.

Nulla maximus finibus interdum. Sed nec tincidunt quam, nec ultricies magna. Praesent accumsan tempus enim in tempor. Ut quis leo vitae lectus blandit bibendum facilisis ut justo. Curabitur id odio efficitur tortor congue mattis eu vitae diam. Pellentesque luctus eu lorem ut ultrices. Cras sit amet mi quam. Duis eget est eu ex pellentesque tincidunt. Fusce dignissim ipsum luctus convallis semper. Praesent maximus, est a gravida scelerisque, metus libero fringilla tellus, et pellentesque elit orci vitae nunc. Sed hendrerit dignissim felis dignissim ullamcorper. Etiam rhoncus imperdiet ex id semper. Cras tempus elit eget ipsum facilisis malesuada. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vel ipsum euismod, aliquam purus ac, bibendum leo.

    </p>
    <h4>Find out more <a href="https://conwayfumc.org/">here</a></h4>




</div>