@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>FUMC Food Pantry</h1>
</div>

<div>
    <h2>Who We Are</h2>
    <p>
        In keeping with our calling to serve God and our neighbors, the Feeding Ministries of the First United Methodist Church of Conway, Arkansas, strive to provide food to those persons who are in need.

   
    </p>

    <h3>Hours of Operation</h3>
    <p>
        Our food pantry is open every week beginning at 4:30pm.
        <ul>
            <li>
                The 1st, 3rd & 5th Thursdays of each month our food pantry distributes all food drive through style (4:30-5:30pm).
            </li>
            <li>
                The 2nd and 4th Thursdays of the month is our Amazing Grace Cafe. Guests are invited into the Fellowship Hall to pick their own food items and share a meal together (4:30-5:30p). Drive through is not available this week.
            </li>
            <li>
                Our food pantry is open for individuals and households to receive food every week as needed. Registration and photo identification are required.
            </li>
        </ul>
    </p>
    <h4>Find out more <a href="https://conwayfumc.org/">here</a></h4>




</div>