@page
@using RazorPagesMovie.Pages
@model StaffLogInModel
@{
    ViewData["Title"] = "Staff Log-In";
}

<head>
    <title>New User</title>
</head>


<body>
<div class="col text-center p-3">


    <div class="mb-3">
        <p>Name</p>
        <input type="Name" placeholder="First Middle Last">
    </div>

    <div class="mb-3">
        <p>Password</p>
        <input type="Password" placeholder="Password">
    </div>
    
    <div class="mb-3">
        <p>Phone Number</p>
        <input type="Phone #" placeholder="###-###-####">
    </div>




    <div class="mb-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>


</div>




</body>
