@page
@using RazorPagesMovie.Pages
@model StaffLogInModel
@{
    ViewData["Title"] = "Staff Log-In";
}

<head>
    <title>New User</title>
</head>


<body>
<div class="col text-center p-3">

    <div class="mb-3">
        <input type="Name" placeholder="First Middle Last">
    </div>

    <div class="mb-3">
        <input type="Password" placeholder="Password">
    </div>
    
    <div class="mb-3">
        <input type="Phone #" placeholder="###-###-####">
    </div>


</div>




</body>
