@page
@model AdminPage
@{
    ViewData["Title"] = "Order Page";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html>
<head>
<style>
    

</style>
</head>
<body>
<div>
<label for="Tier 1">Choose Tier 1 item:</label>
</div>
<div>
<select id="Tier 1" name="Tier 1">
  <option value="Peanut Butter">Peanut Butter</option>
  <option value="Sun Butter">Sun Butter</option>
  <option value="Turkey">Turkey</option>
  <option value="Ham">Ham</option>
</select>
</div>
<div>
<label for="Tier 2">Choose 2 Tier 2 items:</label>
</div>
<div>
<select id="Tier 2" name="Tier 2">
  <option value="Grape Jelly">Grape Jelly</option>
  <option value="Strawberry Jam">Strawberry Jam</option>
  <option value="Honey">Honey</option>
  <option value="Nutella">Nutella</option>
</select>
<select id="Tier 2" name="Tier 2">
  <option value="White Bread">White Bread</option>
  <option value="Wheat Bread">Wheat Bread</option>
  <option value="Honey Wheat Bread">Honey Wheat Bread</option>
  <option value="Multi-Grain Bread">Multi-Grain Bread</option>
</select>
</div>
<div>
<div>
<label for="Tier 3">Choose 1 Tier 3 item:</label>
</div>
<div>
<select id="Tier 3" name="Tier 3">
  <option value="Lays">Lays</option>
  <option value="Carrotts">Carrotts</option>
  <option value="Ruffles">Ruffles</option>
  <option value="Apples">Apples</option>
</select>
</div>
</div>
</body>
</html>