@page
@model PrivacyModel
@{
    ViewData["Title"] = "Resources";
}
<h1>@ViewData["Title"]</h1>

<p>Here would be lots of different resources the food bank makes available alongside other in the area. Ideally this page
    is a centralized location for any type of resource we can think to include that may be of use to the community members.
</p>

<h4>For more resources, check <a href="https://conwayfumc.org/umc-resources/">here</a></h4>
